*.dll filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.h5 !text !filter !merge !diff
*.pkl !text !filter !merge !diff
*.joblib !text !filter !merge !diff
