absl-py @ file:///C:/b/abs_d3cv5rzljl/croot/absl-py_1686852506854/work
accelerate==0.23.0
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
ale-py==0.8.1
alembic==1.13.1
alpha-vantage==2.3.1
altair==5.3.0
anaconda-anon-usage @ file:///C:/b/abs_95v3x0wy8p/croot/anaconda-anon-usage_1697038984188/work
anaconda-client @ file:///C:/b/abs_eeuyta7t75/croot/anaconda-client_1700125158800/work
anaconda-navigator==2.4.0
anaconda-project @ file:///C:/Windows/TEMP/abs_91fu4tfkih/croots/recipe/anaconda-project_1660339890874/work
annotated-types==0.6.0
ansicon==1.89.0
anyio==3.7.1
astor==0.8.1
astroid==3.0.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.2
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
autogen==1.0.16
autopep8==2.0.4
Babel==2.13.1
backoff==2.2.1
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
backtrader==1.9.78.123
bandit==1.7.5
bardapi @ git+https://github.com/dsdanielpark/Bard-API.git@ad0f8ec05d8e836f4a5c2739dd48091717f838ad
bcrypt==4.0.1
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
blessed==1.20.0
blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
blis==0.7.11
boltons==21.0.0
bracex==2.4
breadability==0.1.20
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
browser-cookie3==0.19.1
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue==2.0.10
category-encoders==2.6.3
certifi==2023.7.22
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
chardet @ file:///C:/ci_310/chardet_1642114080098/work
charset-normalizer==3.3.2
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.14
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
click-option-group==0.5.6
cloudpathlib==0.16.0
cloudpickle==2.2.1
clyent==1.2.2
cocoder==0.1.5
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
coloredlogs==15.0.1
colorlog==6.8.0
comm==0.2.2
conda @ file:///C:/b/abs_0b_rsup993/croot/conda_1692724563226/work
conda-build @ file:///C:/b/abs_2cj2vnrg5j/croot/conda-build_1704736687372/work
conda-content-trust @ file:///C:/b/abs_e3bcpyv7sw/croot/conda-content-trust_1693490654398/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///C:/b/abs_b9wp3lr1gn/croot/conda-package-handling_1691008700066/work
conda-repo-cli==1.0.75
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///C:/b/abs_50towt3zan/croot/conda-index_1695311135992/work
conda_package_streaming @ file:///C:/b/abs_6c28n38aaj/croot/conda-package-streaming_1690988019210/work
confection==0.1.4
config-reader==0.8
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.8
Cython==3.0.4
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deep-translator==1.11.4
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation==2.1.0
dill==0.3.7
diskcache==5.6.3
distro==1.8.0
docker==6.1.3
docopt==0.6.2
docopt-ng==0.9.0
docutils==0.20.1
dparse==0.6.3
EasyProcess==1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoint2==1.1
exceptiongroup @ file:///C:/b/abs_25wqfvkf25/croot/exceptiongroup_1668714345637/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
face==22.0.0
fastapi==0.104.0
fasteners==0.19
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
featuretools==1.30.0
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
FLAML==2.1.0
Flask==3.0.2
Flask-Login==0.6.3
flatbuffers==23.5.26
flet==0.7.4
flet-core==0.7.4
fonttools==4.25.0
frozendict==2.3.8
frozenlist @ file:///C:/b/abs_d8e__s1ys3/croot/frozenlist_1698702612014/work
fsspec==2023.9.0
ft==1.0.0
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.35
glfw==2.6.2
glom==22.1.0
google-api-core==2.12.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-speech==2.21.1
google-cloud-translate==3.12.1
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
googleapis-common-protos==1.61.0
greenlet==3.0.3
grpcio @ file:///C:/b/abs_ccut8qek12/croot/grpc-suite_1681912611694/work
grpcio-status==1.59.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h2==4.1.0
h2o==3.44.0.3
h5py==3.10.0
holidays==0.43
hpack==4.0.0
html5lib==1.1
httpcore==0.16.3
httptools==0.6.1
httpx==0.23.3
huggingface-hub==0.22.2
humanfriendly==10.0
hyperframe==6.0.1
hyperopt==0.2.7
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imageio==2.34.0
imbalanced-learn==0.12.0
importlib-resources==6.1.0
importlib_metadata==7.1.0
iniconfig==2.0.0
inquirer==3.1.3
ipykernel @ file:///C:/b/abs_07rkft_vaz/croot/ipykernel_1691121700587/work
ipython @ file:///C:/b/abs_b6pfgmrqnd/croot/ipython_1704833422163/work
ipywidgets==8.1.0
iso8601==2.1.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jax==0.4.12
jedi @ file:///C:/ci/jedi_1644315428305/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jinxed==1.2.0
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications==2023.12.1
jupyter_client @ file:///C:/b/abs_a6h3c8hfdq/croot/jupyter_client_1699455939372/work
jupyter_core @ file:///C:/b/abs_c769pbqg9b/croot/jupyter_core_1698937367513/work
jupyterlab-widgets==3.0.8
kafka==1.3.5
kafka-python==2.0.2
kaleido==0.2.1
keras==2.15.0
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keras-tuner==1.3.5
keyboard==0.13.5
keyring==24.2.0
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
kt-legacy==1.0.5
langcodes==3.3.0
langdetect==1.0.9
lazy_loader==0.4
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==16.0.0
lightgbm==4.3.0
litellm==0.8.6
llama-cpp-python==0.1.84
llvmlite==0.41.1
lxml==4.9.3
lz4==4.3.2
Mako==1.3.0
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.7.5
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mccabe==0.7.0
mdurl==0.1.2
menuinst @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_455sf5o0ct/croots/recipe/menuinst_1661805970842/work
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-dtypes==0.2.0
monotonic==1.6
more-itertools @ file:///C:/b/abs_36p38zj5jx/croot/more-itertools_1700662194485/work
MouseInfo==0.1.3
mplfinance==0.12.10b0
mpmath==1.3.0
mss==9.0.1
mujoco==2.2.0
mujoco-py==2.1.2.14
multidict @ file:///C:/b/abs_44ido987fv/croot/multidict_1701097803486/work
multitasking==0.0.11
munkres==1.1.4
murmurhash==1.0.10
navigator-updater==0.4.0
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
networkx==3.1
nh3==0.2.14
nltk==3.8.1
numba==0.58.1
numpy==1.26.2
oauthlib @ file:///C:/b/abs_44riqpe5gg/croot/oauthlib_1679489644705/work
onnx==1.15.0
onnxconverter-common==1.14.0
onnxruntime==1.16.1
ooba==0.0.21
open-interpreter==0.1.3
openai==0.28.0
opencv-python==4.8.1.78
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
optuna==3.5.0
orjson==3.10.0
overrides==7.4.0
packaging==21.3
panda==0.3.1
pandas==2.0.3
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
patsy==0.5.6
pbr==5.11.1
peewee==3.16.3
peft==0.5.0
Pillow @ file:///C:/b/abs_20ztcm8lgk/croot/pillow_1696580089746/work
pkginfo @ file:///C:/b/abs_d18srtr68x/croot/pkginfo_1679431192239/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly==5.18.0
plotly-resampler==0.10.0
pluggy @ file:///C:/ci/pluggy_1648042746254/work
ply==3.11
pmdarima==2.0.4
posthog==3.0.2
preshed==3.0.9
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
proto-plus==1.22.3
protobuf==3.20.3
psutil==5.9.6
psycopg2==2.9.6
psycopg2-binary==2.9.9
pulsar-client==3.3.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py4j==0.10.9.7
pyaml @ file:///home/linux1/recipes/ci/pyaml_1610972911625/work
pyarrow==15.0.2
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
PyAudio==0.2.13
pyautogen==0.1.6
PyAutoGUI==0.9.54
pycaret==3.3.0
pycodestyle==2.11.0
pycosat @ file:///C:/b/abs_31zywn1be3/croot/pycosat_1696537126223/work
pycountry==22.3.5
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.19.0
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
pygame==2.5.1
PyGetWindow==0.0.9
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
PyJWT @ file:///C:/ci/pyjwt_1657529477795/work
pylint==3.0.2
PyMsgBox==1.0.9
pyod==1.1.3
PyOpenGL==3.1.7
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyotp==2.9.0
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyperclip==1.8.2
PyPika==0.48.9
pypiwin32==223
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyqtgraph==0.13.4
pyreadline3==3.4.1
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySide2==5.15.2.1
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pytesseract==0.3.10
pytest==7.4.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-editor==1.0.4
python-lsp-jsonrpc==1.0.0
pytweening==1.0.7
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
pywin32==305.1
pywin32-ctypes==0.2.2
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///C:/b/abs_655zk4a3s8/croot/pyzmq_1686601465034/work
QtPy @ file:///C:/b/abs_derqu__3p8/croot/qtpy_1700144907661/work
questionary==1.10.0
readchar==4.0.5
readme-renderer==42.0
referencing==0.32.0
regex==2023.10.3
repath==0.9.0
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
requests-mock==1.11.0
requests-oauthlib==1.3.0
requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work
retrying==1.3.4
rfc3986==1.5.0
rich==13.5.2
robin-stocks==3.0.6
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel-yaml-conda @ file:///C:/b/abs_6ejaexx82s/croot/ruamel_yaml_1667489767827/work
ruamel.yaml @ file:///C:/b/abs_30ee5qbthd/croot/ruamel.yaml_1666304562000/work
ruamel.yaml.clib @ file:///C:/b/abs_aarblxbilo/croot/ruamel.yaml.clib_1666302270884/work
safetensors==0.4.3
safety==2.3.5
scapy==2.5.0
schedule==1.2.1
schemdraw==0.15
scikeras==0.11.0
scikit-base==0.7.5
scikit-image==0.23.1
scikit-learn==1.4.1.post1
scikit-optimize @ file:///home/conda/feedstock_root/build_artifacts/scikit-optimize_1639544373814/work
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.0
self==2020.12.3
semgrep==1.41.0
shap==0.43.0
shiboken2==5.15.2.1
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
skl2onnx==1.15.0
sktime==0.28.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.25
srsly==2.4.8
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.27.0
statsmodels==0.14.1
stevedore==5.1.0
streamlit==1.33.0
sumy @ git+https://github.com/miso-belica/sumy.git@5fdfae543b01359a3cd82b1edb7d5f6c1c89c782
sympy==1.12
ta==0.11.0
TA-Lib @ file:///D:/bld/ta-lib_1655668087947/work
tabulate==0.9.0
tbats==1.1.3
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.1
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor @ file:///C:/b/abs_16qe7jhw7n/croot/termcolor_1668084642458/work
thinc==8.2.2
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2024.2.12
tiktoken==0.5.2
tk==0.1.0
tkcalendar==1.6.1
tokenizers==0.15.2
tokentrim==0.1.10
toml==0.10.2
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tomlkit==0.12.1
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch==2.2.2
torchvision==0.17.2
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
transformers==4.39.3
treelib==1.7.0
tsdownsample==0.1.3
ttkwidgets==0.13.0
twine==4.0.2
twitchio==2.9.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
ujson @ file:///C:/ci/ujson_1657525893897/work
urllib3 @ file:///C:/b/abs_9cmlsrm3ys/croot/urllib3_1698257595508/work
uvicorn==0.23.2
wasabi==1.1.2
watchdog==2.3.1
watchfiles==0.21.0
wcmatch==8.5
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel==0.3.4
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
widgetsnbextension==4.0.8
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
woodwork==0.29.0
wrapt==1.14.0
xgboost==2.0.1
xxhash==3.4.1
yarl==1.9.2
yaspin==2.5.0
yellowbrick==1.5
yfinance==0.2.30
zipp==3.18.1
zstandard==0.19.0
